.mode-selector
  width: 500px
  height: 200px
  background-color: #1b1d1f
  color: #ffffff
  border-radius: 15px
  display: flex
  justify-content: center
  align-items: center
  gap: 20px
  flex-direction: column

  .ms-btn-group
    display: flex
    flex-direction: row
    gap: 20px


  .ms-btn
    background-color: #323234
    border-radius: 15px
    height: 52px
    padding-left: 32px
    padding-right: 32px
    font-size: 16px

  .ms-btn:hover
    background-color: #cc4f4e