@font-face
  src: url("@/assets/fonts/SFProDisplay-Regular.woff") format("woff")
  font-family: "SFPro-Regular"

@font-face
  src: url("@/assets/fonts/SFProDisplay-Semibold.woff") format("woff")
  font-family: "SFPro-Semibold"

body
  font-family: "SFPro-Regular", sans-serif

body
  -moz-user-select: none /* Old versions of Firefox */
  -ms-user-select: none /* Internet Explorer/Edge */
  user-select: none
  -ms-overflow-style: none
  scrollbar-width: none

body::-webkit-scrollbar
  display: none

.icon
  color: white