@font-face
  src: url("@/assets/fonts/PT-Root-UI_Regular.woff") format("woff")
  font-family: "PT-Regular"

@font-face
  src: url("@/assets/fonts/PT-Root-UI_Medium.woff") format("woff")
  font-family: "PT-Medium"

@font-face
  src: url("@/assets/fonts/PT-Root-UI_Bold.woff") format("woff")
  font-family: "PT-Bold"

@font-face
  src: url("@/assets/fonts/PT-Mono_Regular.woff") format("woff")
  font-family: "PT-Mono"

body
  font-family: "PT-Regular", sans-serif


body
  -moz-user-select: none /* Old versions of Firefox */
  -ms-user-select: none /* Internet Explorer/Edge */
  user-select: none
  -ms-overflow-style: none
  scrollbar-width: none

body::-webkit-scrollbar
  display: none

.icon
  color: white