.card
  width: 25%
  height: 98vh
  overflow-y: scroll
  border-radius: 15px
  -ms-overflow-style: none
  scrollbar-width: none
  display: flex
  flex-direction: column
  align-items: center
  gap: 10px
  background-color: #1b1d1f
  color: #ffffff

.card::-webkit-scrollbar
  display: none

.element
  width: 95%
  border-radius: 15px
  background-color: #252525

.element:hover
  background-color: #cc4f4e
