.list-container
  width: 25%
  height: 98vh
  overflow-y: scroll
  border-radius: 15px
  display: flex
  flex-direction: column
  justify-content: flex-start
  gap: 10px
  ms-overflow-style: none
  scrollbar-width: none
  background-color: #1b1d1f
  color: #ffffff

.list-container::-webkit-scrollbar
  display: none

.card
  height: 85vh
  display: flex
  flex-direction: column
  align-items: center
  gap: 10px
  background-color: #1b1d1f
  color: #ffffff
  overflow-y: scroll
    -ms-overflow-style: none
  scrollbar-width: none

.card::-webkit-scrollbar
  display: none

.tab-list
  width: 100%

.tab
  margin-left: 10px
  text-transform: capitalize
  font-family: "Font-Semibold", sans-serif
  background-color: #323234

.tab:hover
  background-color: #cc4f4e

.note-list-header
  margin: 10px auto
  width: 95%
  height: 60px
  background-color: #252525
  border-radius: 15px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.note-list-title
  font-family: "Font-Semibold", sans-serif
  font-size: 1.5em
  margin-left: 20px

.note-list-header-button
  background-color: #323234

.note-list-header-button:hover
  background-color: #cc4f4e

.folder-selector
  height: 30px
  color: #ffffff
  border-radius: 15px
  width: 98%

.element
  width: 95%
  border-radius: 15px
  background-color: #252525

.element:hover
  background-color: #cc4f4e

.tags
  display: flex
  flex-direction: row
  margin-top: 5px
  gap: 10px

.tag
  background-color: #323234
  padding-left: 10px
  padding-right: 10px
  border-radius: 5px
  height: 25px

.create-note-btn
  background-color: #cc4f4e
  position: absolute
  bottom: 50px
  left: 25%
  border: none

.folder-title-container
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-evenly


.delete-button
  color: #cc4f4e
  cursor: pointer

.element:hover .delete-button
  color: #ffffff

.element:hover .delete-button:hover
  color: #000000

.delete-folder-button
  padding: 10px 20px
  background-color: #323234
  cursor: pointer
  color: #ffffff
  text-transform: capitalize
  font-family: "Font-Regular", sans-serif
  border-radius: 15px

.delete-folder-button:hover
  background-color: #cc4f4e

@media (max-width: 768px)
  .create-note-btn
   display: none

